/node_modules
/vendor
/.env
/.git
/.idea
/.vscode
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
docker-compose.yml
Dockerfile
.dockerignore
.gitignore
README.md
